*{
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
    .be-vietnam-pro-thin {
  font-family: "Be Vietnam Pro", sans-serif;
  /* font-weight: 100; */
  /* font-style: normal; */
}
}

.wrapper{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.container{
    border: 3px dotted black;
    width: 1350px;
}

.header{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    
}

.name{
    /* border: 2px solid orangered; */
    padding: 25px;
    display: flex;

    color: #000000;
}

.name h2{
    padding-top: 7px;
}

.name img{
   height: 50px;
   width: 45px;
}

.navs ol{
    padding: 25px;
    font-size: 20px;
    color: #1f1f1f;
    list-style-type: none;
    display: flex;
    gap: 55px;
}




.herosection{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;

}

.herosection h2{
    font-size: 35px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    /* gap: 10px; */
}

.role{
    color: #f84949;
    font-size: 45px;
}
.role1{
    font-size: 45px;
}



.heroimg{
    padding: auto;
}

.heroji{
    position: relative;
    margin: auto;
    height: 450px;
    width: 350px;
    background-size: cover;
    border: 30px solid whitesmoke;
    filter: grayscale(1);

 /* animation: name duration timing-function delay iteration-count direction fill-mode; */
 animation: animehero 4s linear 0ms infinite normal;
}

@keyframes animehero{
    0%{
        transform: scale(1);
    }
    50%{
        box-shadow: 0 0 10px #000000;
        transform: scale(0.8);
        filter: grayscale(0);
        
    }
    100%{
        transform: scale(1);

    }
}

